In [1]:
# Accept a sequence of comma-separated numbers from the user
input_data = input("Enter a sequence of comma-separated numbers: ")

# Generate a list from the input data, stripping any leading/trailing whitespace from each number
numbers_list = [num.strip() for num in input_data.split(",")]

# Generate a tuple from the list
numbers_tuple = tuple(numbers_list)

# Print the list and tuple
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter a sequence of comma-separated numbers:  4,5,54,65,6

List: ['4', '5', '54', '65', '6']
Tuple: ('4', '5', '54', '65', '6')

In [2]:
sampledata=input("comma seperated numbers :")
samplelist=sampledata.split(",")
sampletuple=tuple(samplelist)
print("the list iis:")
print(samplelist)
print("the tuple is :")
print(sampletuple)

comma seperated numbers : 4,5,64,4,6

the list iis:
['4', '5', '64', '4', '6']
the tuple is :
('4', '5', '64', '4', '6')

In [7]:
filename=input("enter the filename:")
f_extns = filename.split(".")

# Print the extension of the file, which is the last element in the 'f_extns' list
print("The extension of the file is : " + repr(f_extns[-1]))

enter the filename: ffsagasf.asf

The extension of the file is : 'asf'

In [11]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[3])

Red
Black

In [15]:
exam_st_date = (11, 12, 2014)
print("the exam date will start from:%i/%i/%i " %exam_st_date)

the exam date will start from:11/12/2014

In [21]:
integer=int(input("enter the number value:"))
import math 
result=integer+(integer*integer)+(integer*integer*integer)
print(result)

enter the number value: 5

15625

In [4]:
# Print the docstring (documentation) of the 'abs' function
print(abs.__doc__)

Return the absolute value of the argument.

In [8]:
import calendar
y=int(input("enter the year:"))
m=int(input("enter the month:"))
print(calendar.month(y,m))

enter the year: 2002
enter the month: 2

   February 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

In [10]:
print("""a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [18]:
# Import the 'date' class from the 'datetime' module
from datetime import date

# Define a start date as July 2, 2014
f_date = date(2014, 7, 2)

# Define an end date as July 11, 2014
l_date = date(2014, 7, 11)

# Calculate the difference between the end date and start date
delta = l_date - f_date

# Print the number of days in the time difference
print(delta.days)

9

In [5]:
from datetime import date
f_date=date(2014,7,2)
l_date=date(2014,7,11)
delta=l_date-f_date
print(delta.days)

9

In [9]:
from math import pi
r=int(6)
volume=4/3 * pi * (r*r*r)
print("your volume for radius 6 is : %i"%volume)

your volume for radius 6 is : 904

In [25]:
import math
n=int(input("enter a number"))
secondnumber=int(17)
if n<=17:
    difference = (secondnumber) - (n)
    print(difference)
else :
    abs=(n-secondnumber)*2
    print(abs)

enter a number 84

134

In [35]:
n=int(input("enter a number"))
if n>=100:
    print("number is under 100 :")
else : 101<n<2000
    print("number is more than 100 but under2000")

IndentationError: unexpected indent (1023965496.py, line 5)

In [2]:
# Define a function named "near_thousand" that takes an integer parameter "n"
def near_thousand(n):
    # Check if the absolute difference between 1000 and n is less than or equal to 100
    # OR check if the absolute difference between 2000 and n is less than or equal to 100
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

# Call the "near_thousand" function with the argument 1000 and print the result
print(near_thousand(1000))

# Call the "near_thousand" function with the argument 900 and print the result
print(near_thousand(900))

# Call the "near_thousand" function with the argument 800 and print the result
print(near_thousand(800))

# Call the "near_thousand" function with the argument 2200 and print the result
print(near_thousand(2200))

True
True
False
False

In [10]:
def near(n):
    return ((abs(1000-n)<=100) or (abs(2000-n)<=100))
print(near(500))

False

In [16]:
import math
n1=int(input("enter a number1"))
n2=int(input("enter a number2"))
n3=int(input("enter a number3"))
if n1==n2==n3:
    abs=3*(n1+n2+n3)
    print(abs)
else :
    sum=n1+n2+n3
    print(sum)

enter a number1 5
enter a number2 6
enter a number3 7

18

In [8]:
# Define a function named "new_string" that takes a string parameter called "text"
def new_string(text):
    # Check if the length of the "text" is greater than or equal to 2 and if the first two characters of "text" are "Is"
    if len(text) >= 2 and text[:2] == "Is":
        # If the conditions are met, return the original "text" unchanged
        return text
    else:
        # If the conditions are not met, prepend "Is" to the "text" and return the modified string
        return "Is" + text

# Call the "new_string" function with the argument "Array" and print the result
print(new_string("Is shya"))

# Call the "new_string" function with the argument "IsEmpty" and print the result
print(new_string("IsEmpty"))

Is shya
IsEmpty

In [26]:
name,age,height="ram",23,5.5
print(type(name))#type function tell the type of the object 
print(type(age))
print(type(height))
#pyhton only shows the last line of code aas a reult when no print function ius used

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
a=int(input("enter the num"))#takes a number as a input 

b=int(input('enter the second number'))# takes 2nd number as input
#arithmatic operator
print(a+b)#addition 
print(a-b)#subtraction
print(a*b)#multiply
print(a/b)#division
print(a%b)#remainder
print(a**b)#exponential 
a+=b#adds a to b and replaces the new value generaated into the predefined variable 
print(a)
a-=b#subtracts the value a from b and replaces the result to the predefined 'a' value 
print(a)
a*=b#multiplies the value of 'a' with 'b' and replaces the result with the prredefined value 'a' and the value of a changes
print(a)
a/=b# assignment  operator
print(a)
a%=b
print(a)
a**=b
print(a)
print(a<b)#'a' less than 'b'
print(a>b)#comparison operator
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

enter the num 454646
enter the second number 2

454648
454644
909292
227323.0
0
206702985316
454648
454646
909292
454646.0
0.0
0.0
True
False
False
True
True
False

In [2]:
a=int(input("enter the num"))
b=int(input('enter the second number'))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a|b)#bitwise or operator

enter the num 564
enter the second number 5

569
559
2820
112.8
4
57068376781824
False
True
False
True
False
True
565

In [6]:
a=10
b=654
print((a<b) or (a>b))

True

In [8]:
a=10
b=654
print((a<b) and (a>b))

False

In [10]:
a=10
b=654
print((a<b)|(a>b))

True

In [12]:
a=10
b=654
print((a<b)&(a>b)) #logical oprator and 
print((a<b)or(a>b))#logical or operator

False

In [14]:
a=5
b=3
print(a & b)

1

In [16]:
x=10
y=5
z=3
ans=x+y%z
print(ans)

12

In [6]:
H

<class 'str'>

In [28]:
a=3
b="12"
print(a*b)

121212

In [30]:
a=-9//7
print(a)

-2

In [2]:
print(this)

NameError: name 'this' is not defined

# first program trials

# first program trials

In [20]:
ank="strra"
ngh=int(ank)
type(ngh)#string cannpt be converted into floaat ,but float can be converted into str

ValueError: invalid literal for int() with base 10: 'strra'

In [8]:
%whos

Variable               Type        Data/Info
--------------------------------------------
ank                    str         strra
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000275887180E0>
dataframe_hash         function    <function dataframe_hash at 0x0000027585FF2160>
dtypes_str             function    <function dtypes_str at 0x0000027585D12340>
get_dataframes         function    <function get_dataframes at 0x0000027588831D00>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000027585FAF100>
is_data_frame          function    <function is_data_frame at 0x00000275887189A0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      float       15.0
y                      str         15.0

In [24]:
ghj="10"
bggbnz=int(ghj)
print(type(bggbnz))

<class 'int'>

In [22]:
num = '10'
 
# check and print type num variable
print(type(num))
 
# convert the num from string into int
converted_num = int(num)
 
# print type of converted_num
print(type(converted_num))
 
# We can check by doing some mathematical operations
print(converted_num + 20)

<class 'str'>
<class 'int'>
30

# We can check by doing some mathematical operations

In [29]:
first_name = "john"
last_name = "doe"
print(first_name + " " + last_name)

john doe

In [31]:
x=5
x+=5
print(x)

10

In [33]:
a=10
type(a) is int

True

In [35]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
age                    int         23
ank                    str         strra
bggbnz                 int         10
converted_num          int         10
dataframe_columns      function    <function dataframe_colum<...>ns at 0x0000027588833560>
dataframe_hash         function    <function dataframe_hash at 0x00000275888336A0>
dtypes_str             function    <function dtypes_str at 0x0000027588832700>
first_name             str         john
get_dataframes         function    <function get_dataframes at 0x0000027588831DA0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
ghj                    str         10
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
height                 float       5.5
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000027585FF25C0>
is_data_frame          function    <function is_data_frame at 0x0000027585FAF240>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
last_name              str         doe
name                   str         ram
num                    str         10
x                      int         10
y                      str         15.0

In [41]:
weight=int(input("enter the weight iun kg"))
height=int(input("enter the height in imch"))
bmi=weight/(height**2)
print(bmi)

enter the weight iun kg 224
enter the height in imch 4

14.0

In [59]:
product1 = "soap"
quantity1 = int(input("enter the quantity of soap"))
price_per_unit1 = int(input("enter the price per unit for soap"))
#product 2
product2 = "med"
quantity2 = int(input("enter the quantity for med"))
price_per_unit2 = int(input("enter the price per unit for med"))
#product3
product3 = "ice"
quantity3 = int(input("enter the quantity for ice"))
price_per_unit3 = int(input("enter the price per unit for ice"))
total_bill = (quantity1*price_per_unit1)+(quantity2*price_per_unit2)+(quantity3*price_per_unit3)
print("your total bill is" +" " + "rupees",total_bill)

enter the quantity of soap 54
enter the price per unit for soap 58
enter the quantity for med 223
enter the price per unit for med 56
enter the quantity for ice 56
enter the price per unit for ice 98

your total bill is rupees 21108

In [14]:
principal_amount=int(input("enter the principal amount"))
time_period=int(input("enter the time period in years"))
interest_rate=float(input("enter the percentage "))
simple_interest=principal_amount*time_period*(interest_rate/100)
print("the simple interest is ",simple_interest)
threshold_amount=120000
if (simple_interest>=threshold_amount):
    print("simple interest is greater")
else :
    print("threshold amount is greater")

enter the principal amount 46500
enter the time period in years 8
enter the percentage  0.66

the simple interest is  2455.2
threshold amount is greater

In [73]:
radius=int(input("enter the circle radius"))
area=3.14*(radius**2)
print("the area of circle is " +" " , area)

enter the circle radius 12

the area of circle is   452.16

In [2]:
copm = 4+4j
print(abs(copm))

5.656854249492381

In [4]:
sgn="gsbgksk"
print(len(sgn))

7

In [8]:
player_score=1234.56
print(int(player_score))

1234

In [12]:
principal_amount=int(input("enter the principal amount"))
time_period=int(input("enter the time period in years"))
interest_rate=float(input("enter the percentage "))
simple_interest=int(principal_amount*time_period*(interest_rate/100))
print("the simple interest is ",simple_interest)

enter the principal amount 46500
enter the time period in years 8
enter the percentage  0.66

the simple interest is  2455

In [2]:
a=86464654654654
print(bin(a))

0b10011101010001110011111000001101011110010111110

In [8]:
a=[4544,464,64,84,84,6846,468,46,8468,468,468468,4684,689,468,4684,68468]
value=16546546846

dox=sum(a,value)
print(dox)

16547115843

In [10]:
a=654164
value=16546546846

dox="a+b"
print(eval(dox))

45300629

In [12]:
help(bin)

Help on built-in function bin in module builtins:

bin(number, /)
    Return the binary representation of an integer.

    >>> bin(2796202)
    '0b1010101010101010101010'

In [14]:
help(object)

Help on class object in module builtins:

class object
 |  The base class of the class hierarchy.
 |
 |  When called, it accepts no arguments and returns a new featureless
 |  instance that has no instance attributes and cannot be given any.
 |
 |  Built-in subclasses:
 |      anext_awaitable
 |      async_generator
 |      async_generator_asend
 |      async_generator_athrow
 |      ... and 93 other subclasses
 |
 |  Methods defined here:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Default dir() implementation.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getstate__(self, /)
 |      Helper for pickle.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(self, /)
 |      Helper for pickle.
 |
 |  __reduce_ex__(self, protocol, /)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Size of object in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __init_subclass__(...) from builtins.type
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  __subclasshook__(...) from builtins.type
 |      Abstract classes can override this to customize issubclass().
 |
 |      This is invoked early on by abc.ABCMeta.__subclasscheck__().
 |      It should return True, False or NotImplemented.  If it returns
 |      NotImplemented, the normal algorithm is used.  Otherwise, it
 |      overrides the normal algorithm (and the outcome is cached).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __class__ = <class 'type'>
 |      type(object) -> the object's type
 |      type(name, bases, dict, **kwds) -> a new type

In [16]:
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [20]:
a=int(input("1st num is"))
b=int(input("2nd num is"))
print(a+b)

1st num is 4
2nd num is 5

9

In [34]:
age=int(input("enter the age in years"))
height=int(input("enter the height in cm"))
weight=int(input("enter the weight in kg"))
correct_age = abs(age)

BMR ="88.362 +(13.397* weight )+ (height*4.799)-(5.667*correct_age)"
bmr=eval(BMR)
bm2r=int(bmr)
print(bm2r)

enter the age in years 45
enter the height in cm 190
enter the weight in kg 54

1468

In [44]:
stud1=input("enter your name")
stud2=input("enter your name")
stud3=input("enter your name")
stud4=input("enter your name")
stud5=input("enter your name")
age1=int(input("enter the age "))
age2=int(input("enter the age  "))
age3=int(input("enter the age "))
age4=int(input("enter the age "))
age5=int(input("enter the age "))
avg_age=(age1 +age2 +age3 +age4 +age5)/5
print("the average age is ",avg_age)

enter your name af
enter your name afef
enter your name afre
enter your name feav
enter your name afre
enter the age  54
enter the age   546
enter the age  51
enter the age  516
enter the age  5165

the average age is  1266.4

In [56]:
stud1=input("enter your name")
stud2=input("enter your name")
stud3=input("enter your name")
stud4=input("enter your name")
stud5=input("enter your name")
age2=list(input("age"))
avg_age=sum(age2)
avvg=eval("avg_age/5")
print("the average age is ",avg_age)

enter your name ydm
enter your name duku
enter your name d
enter your name d
enter your name t
age 45,54,5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
stud1=input("enter your name")
age2=input("age") # Remove the list() call
age2 = [int(x) for x in age2.split(',')] # Split the string by comma and convert each element to an integer
avg_age=sum(age2)
avvg=avg_age/len(age2) # Calculate the average based on the number of ages entered
print("the average age is ",avvg)

enter your name m
age 45,55,15,15

the average age is  32.5

In [68]:
a=int(input("enter the a number"))
b=int(input("enter the b number"))
expr=input("enter the expression")
exprr=eval(expr)
print("the result is  ",exprr)

enter the a number 45
enter the b number 45
enter the expression a+b

the result is   90

In [70]:
expr=input("enter the expression")
exprr=eval(expr)
print("the result is  ",exprr)

enter the expression (45*6)-5946+45555

the result is   39879

In [78]:
house_size1=input("enter the house size in per square foot for user1")
number_of_rooms1=input("enter the number of rooms")

house_size2=input("enter the house size in per square foot for user2")
number_of_rooms2=input("enter the number of rooms")

print(type(house_size1))
print(type(number_of_rooms1))
print(type(house_size2))
print(type(number_of_rooms2))

price_paid_by_user1=int(house_size1)*5000
print("price paid by user 1 is ",price_paid_by_user1)

price_paid_by_user2=int(house_size2)*5000
print("price paid by user 1 is ",price_paid_by_user2)
threshold_value=7500000

if price_paid_by_user1>threshold_value :
    print("user1 is paying higher value")
else :
    print("user2 is paying higher value")

enter the house size in per square foot for user1 1500
enter the number of rooms 4
enter the house size in per square foot for user2 2000
enter the number of rooms 4

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
price paid by user 1 is  7500000
price paid by user 1 is  10000000
user2 is paying higher value

In [3]:
stock_symbol=input("enter the symbol")
current_price=int(input("enter the current price"))
percentage_change_in_price=float(input("enter the change in price"))
new_price=current_price*1.1
print("the new price is ",new_price)
budget=input("enter the budget")
bud=float(budget)
print("the budget is ",bud)
if bud>new_price :
    print("budget is enough")
else :
    print("budget is not enough")

enter the symbol hal
enter the current price 1000
enter the change in price -100

the new price is  1100.0

enter the budget 800

the budget is  800.0
budget is not enough

In [7]:
current_temp=int(input("enter the current temperature"))
min_temp=int(input("enter the minimum temperature"))
max_temp=int(input("enter the maximum temperature"))
if min_temp<current_temp<max_temp :
    print("the temp is between the range")
else :
    print("the temp is not in range")

enter the current temperature 78
enter the minimum temperature 45
enter the maximum temperature 46

the temp is not in range

In [26]:
temp_value=float(input("enter the current temperaturre"))
unit=input("enter the unit type for celcius enter C and for farenheit enter F")
if unit=="C" :
    cel=float(input("the temp in celcius is "))
    print("the entered temp is in celcius",cel)
    if cel<15 :
        print("temperature is not convinient")
    else 24<cel<28 :
    print("temp is convinient")
    F = (9/5 * cel) + 32
    print("the temp in farenheit is ",F)
elif unit=="F" :
    far=float(input("the temp in farenheit is "))
    print("the farenheit temp is ",far)

SyntaxError: expected ':' (3816637764.py, line 8)

In [28]:
temp_value=float(input("enter the current temperaturre"))
unit=input("enter the unit type for celcius enter C and for farenheit enter F")
if unit=="C" :
    cel=float(input("the temp in celcius is "))
    print("the entered temp is in celcius",cel)
    F = (9/5 * cel) + 32
    print("the temp in farenheit is ",F)
elif unit=="F" :
    far=float(input("the temp in farenheit is "))
    print("the farenheit temp is ",far)

if cel<15 :
    #this line had an indentation error
    print("temperature is not convinient")

elif 24<cel<28 : #this line had an indentation error
    print("temp is convinient")

enter the current temperaturre 45
enter the unit type for celcius enter C and for farenheit enter F C
the temp in celcius is  45

the entered temp is in celcius 45.0
the temp in farenheit is  113.0

In [34]:
temp_value=float(input("enter the current temperaturre"))
unit=input("enter the unit type for celcius enter C and for farenheit enter F")
if unit=="C" :
    cel=float(input("the temp in celcius is "))
    print("the entered temp is in celcius",cel)
    F = (9/5 * cel) + 32
    print("the temp in farenheit is ",F)
elif unit=="F" :
    far=float(input("the temp in farenheit is "))
    print("the farenheit temp is ",far)
    cel=(far-32)*5/9
    print("the entered temp is in celcius",cel)

if cel<15 :
    #this line had an indentation error
    print("temperature is not convinient")

elif 24<cel<28 : #this line had an indentation error
    print("temp is convinient")

enter the current temperaturre 25
enter the unit type for celcius enter C and for farenheit enter F C
the temp in celcius is  25

the entered temp is in celcius 25.0
the temp in farenheit is  77.0
temp is convinient

In [38]:
age=int(input("enter your age"))
if age>18 :
    print("you are eligible for voting")
else:
    print("you are not eligible to vole")

enter your age 10

you are not eligible to vole

In [46]:
base_salary=int(input("enter your salary"))
years_of_service=int(input("enter the years you have worked for the company"))
if years_of_service>5 :
    loyalty_bonus=(8/100)*base_salary
    deductions=(12/100)*base_salary
    net_salary =base_salary + loyalty_bonus - deductions
    print("your loyalty bonus is ",loyalty_bonus)
    print("your deductiions is ",deductions)
    print("your net salary is ",net_salary)
else :
    deductions=(12/100)*base_salary
    net_salary =base_salary - deductions
    print("your deductiions is ",deductions)
    print("your net salary is ",net_salary)

enter your salary 50000
enter the years you have worked for the company 2

your deductiions is  6000.0
your net salary is  44000.0

In [50]:
city_name =input("enter the city name")
if city_name=="mumbai":
    print("the famous monument is gateway of india")
elif city_name=="kolkata":
    print("the famous monument is victoria memorial")
elif city_name=="chennai":
    print("the famous monument is mariana beach")
elif city_name=="banglore":
    print("the famous monument is botanical garden")
elif city_name=="pune":
    print("the famous monument is shaniwar wada")

enter the city name pune

the famous monument is shaniwar wada

In [8]:
count=1
while count<=10:
    print(count)
    count=count+1

1
2
3
4
5
6
7
8
9
10

In [10]:
count=2
while count<=50 :
    print(count)
    count=count+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [2]:
num=1
while num<=50 :
    if num%2==0 :
        print(num)
    num=num + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [4]:
email_address=input("enter the email address")
mail=len(email_address)
while mail<=len(email_adddress):
    if email_address == "@" and email_address ==".":
        print("email validaation passed ")
    else :
        print("not passed")
    mail=mail+1

enter the email address ritesh@.

NameError: name 'email_adddress' is not defined

In [4]:
email_address=input("enter the email address ")
valid_mail = False
while not valid_mail :
    if "@" and "." in email_address :
        print("the entred email is correct ")
        valid_mail=True
    else :
        print("entered mail is not correct")
        print("please try again later")
        valid_mail = True

enter the email address  ritesh@gmail.com

the entred email is correct

In [2]:
a=[5,546,46,465,4654,64,64,64,4,5,4]
for i in a:
    print(i)

5
546
46
465
4654
64
64
64
4
5
4

In [6]:
a="syuhfaoufoua"
for i in a:
    print(i)

s
y
u
h
f
a
o
u
f
o
u
a

In [8]:
for i in range(16):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [16]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [18]:
for i in range(0,25):
    if i%2==0 :
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24

In [20]:
for i in range(0,25):
    if i%2==0 :
        print("the number is even ",i)
    else :
        print("the number is odd",i)

the number is even  0
the number is odd 1
the number is even  2
the number is odd 3
the number is even  4
the number is odd 5
the number is even  6
the number is odd 7
the number is even  8
the number is odd 9
the number is even  10
the number is odd 11
the number is even  12
the number is odd 13
the number is even  14
the number is odd 15
the number is even  16
the number is odd 17
the number is even  18
the number is odd 19
the number is even  20
the number is odd 21
the number is even  22
the number is odd 23
the number is even  24

In [24]:
for i in range(0,51):
    if i%5==0 :
        print(i)

0
5
10
15
20
25
30
35
40
45
50

In [32]:
num=int(input("emter the number"))
for i in range (0,11):
    print(f"{num} * {i}={num*i}")

emter the number 154564

154564 * 0=0
154564 * 1=154564
154564 * 2=309128
154564 * 3=463692
154564 * 4=618256
154564 * 5=772820
154564 * 6=927384
154564 * 7=1081948
154564 * 8=1236512
154564 * 9=1391076
154564 * 10=1545640

In [66]:
number_of_items=int(input("the number of items you have is "))
total_bill=0
for i in range(number_of_items):
    price_of_item=float(input("enter the price of item"))
    print("the price of item ",i+1 ,"is",price_of_item )
    total_bill += price_of_item
print("the total is ", total_bill)

if total_bill>=100 :
    new_total=total_bill-(10/100*total_bill)
    print("the new total bill is ",new_total)
elif 50<total_bill<99.99 :
    new_total=total_bill -(5/100*total_bill)
    print("the new bill is ",new_total)

the number of items you have is  2
enter the price of item 221

the price of item  1 is 221.0

enter the price of item 5546

the price of item  2 is 5546.0
the total is  5767.0
the new total bill is  5190.3

In [68]:
for i in range(0,25):
    if i==22 :
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [70]:
numbers=[1,2,3,4,5]
for num in numbers:
    print(num*2)

2
4
6
8
10

# user defined function

In [74]:
 def my_fun():
     print("hello")

my_fun()

hello

In [76]:
my_fun()

hello

In [88]:
 def details_bill():
     print("please pay the electric bill before due date")
     print("after due date the fine on will be 1000rs")
     print("pay your bill soon")

details_bill()

please pay the electric bill before due date
after due date the fine on will be 1000rs
pay your bill soon

 def details_bill():
     print("please pay the electric bill before due date")
     print("after due date the fine on will be 1000rs")
     print("pay your bill soon")

details_bill()



for i in range(3):
    username=input("your name is ")
    electricity_consumed=int(input("enter the unit consumed in the past month "))
    total_bill = electricity_consumed *5
    print(username,"your bill is ",total_bill)
    details_bill()

# arguments

In [9]:
def check_even_odd(number):
    if number%2==0:
        print("the number is even",number)
    else:
        print("the number is odd",number)

check_even_odd(100)

the number is even 100

In [19]:
def first_last_name(first,last):
    print("the first name is ",first)
    print("the last name is",last)


first_last_name("nam","gan")

the first name is  nam
the last name is gan

In [13]:
check_even_odd(133)

the number is odd 133

In [52]:
exam_scores = [85,92,78,90,88,95,82,79,87,91]
def scores(exam_scores):
    number_of_students_appeared=len(exam_scores)
    average=sum(exam_scores)/number_of_students_appeared
    highest_score=max(exam_scores)
    lowest_scores=min(exam_scores)
    print("the average score is ",average)
    print("the highest is ",highest_score)
    print("the lowest is ",lowest_scores)
    num_passed=0
    
    for i in exam_scores:
        if i>=80:
            num_passed=num_passed+1
    failed_students=number_of_students_appeared - num_passed
    print("the failed student are ", failed_students)
    print("the passed student are",num_passed)
scores(exam_scores)

the average score is  86.7
the highest is  95
the lowest is  78
the failed student are  2
the passed student are 8

In [60]:
exam_scores = [85,92,78,90,88,95,82,79,87,91]
def scores(exam_scores):
    number_of_students_appeared=len(exam_scores)
    average=sum(exam_scores)/number_of_students_appeared
    highest_score=max(exam_scores)
    lowest_scores=min(exam_scores)
    print("the average score is ",average)
    print("the highest is ",highest_score)
    print("the lowest is ",lowest_scores)
    num_passed=0
    
    for i in exam_scores:
        if i>=80:
            num_passed=num_passed+1
    failed_students=number_of_students_appeared - num_passed
    print("the failed student are ", failed_students)
    print("the passed student are",num_passed)
    return average,highest_score,lowest_scores,num_passed,failed_students


scores(exam_scores)

the average score is  86.7
the highest is  95
the lowest is  78
the failed student are  2
the passed student are 8

(86.7, 95, 78, 8, 2)

In [20]:
lsir=[45,456]
print(type(lsir))
fu=int(lsir)

<class 'list'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
def grades_distribution(grades) :
    for i in grades:
        if 90<=i<=100 :
            print(" A grade for",i)
        elif 80<=i<=89 :
            print("B grade for ", i)
        elif 70<=i<=79 :
            print("C grade for ", i)
        elif 60<=i<=69 :
            print("C grade for ", i)
        elif 50<=i<=59:
            print("D grade for ", i)
        else :
            print("you have f grade",i)
    return

In [69]:
grades=[40,54,94,65,62,63]
grades_distribution(grades)

TypeError: can only concatenate list (not "int") to list

In [3]:
name=input("enter the name \n")
age=int(input("enter the age\n"))
address=input("enter the address \n")
print("the name is :\n ",name)
print("the age is :\n ",age)
print("the address is :\n ",address)

enter the name
 ram
enter the age
 54
enter the address
 gali gang

the name is :
  ram
the age is :
  54
the address is :
  gali gang

In [9]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
print(a)
print(b)
print("the swapped numbers are:\n")
temp=a
a=b

b=temp
print(a)
print(b)

enter the first number 45
enter the second number 87

45
87
the swapped numbers are:

87
45

In [11]:
a=int(input("enter the first number"))
b=float(a)
print(b)

enter the first number 45

45.0

In [15]:
print(bin(458751555))

0b11011010101111111111001000011

In [27]:
marks=98

if marks>90:
    print("nice going")


else :
    print("huh")

nice going

In [6]:
a =int(input("enter the number \n"))
if a>0 :
    print("the number is positive\n")
    if(a%2==0):
        print("the number is even\n")
    else:
        print("the number is odd\n")
else :
    print("the number is negative")

enter the number
 -87

the number is negative

In [23]:
print("press 1 to calculate area of square\n")
print("press 2 to calculate area of rectangle\n")
print("press 3 to calculate area of triangle\n")
print("press 4 to calculate area of circle \n")

calc=int(input("enter the answer\n"))
if calc==1 :
    print("square area calculation\n")
    side =float(input("enter the side\n"))
    area =side**2
    print("the area is",area)

elif calc==2 :
    print("rectangle area calculation\n")
    length =float(input("enter the length\n"))
    breadth =float(input("enter the breadth\n"))
    area = length * breadth
    print("the area is",area)


elif calc==3 :
    print("traingle area calculation\n")
    base =float(input("enter the base\n"))
    height =float(input("enter the height\n"))
    area = 1/2 * base *height
    print("the area is",area)

elif calc==4:
    print("circle area calculation\n")
    radius=float(input("enter the radius \n"))
    area=3.14*radius*radius
    print("the area is",area)

press 1 to calculate area of square

press 2 to calculate area of rectangle

press 3 to calculate area of triangle

press 4 to calculate area of circle

enter the answer
 4

circle area calculation

enter the radius
 84

the area is 22155.84

In [16]:
a=input("enter the letter\n")
if a=="a":
    print("it is a vowel\n")
elif a=="e":
    print("it is a vowel\n")
elif a=="i":
    print("it is a vowel\n")
elif a=="o":
    print("it is a vowel\n")
elif a=="u":
    print("it is a vowel\n")
else :
    print("it is a consonant\n")

enter the letter
 o

it is a vowel

In [10]:
num = int(input("enter the number\n"))

if num>=0 and num <=9: print("the number is a single digit \n")
elif num>=10 and num <=99: print("the number is a double digit \n")
elif num>=100 and num <=999: print("the number is a three digit \n")
elif num>=1000 and num <=9999: print("the number is a four digit \n")
elif num>=10000 and num <=99999: print("the number is a five digit \n")
elif num>=100000 : print("i do not know \n")

enter the number
 759

the number is a three digit

In [32]:
rangee=int(input("enter  the range\n"))
for i in range(0,rangee):
    if i%2==0:
        print(i)

enter  the range
 40

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [38]:

for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [50]:
num=int(input("enter the number of which you want the table odf\n"))
for i in range(1,11):
    mul=num*i
    print(num ,"x",i,"=",num*i)

enter the number of which you want the table odf
 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [2]:
num=0

while num<10:
    num=num+2
    print(num)

2
4
6
8
10

In [8]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [41]:
n=int(input("enter the range"))
for i in range(1,n+1):
    if i%2==0 and i%5==0:
        print("the number divisible by 2 and 5 is \n",i)

enter the range 100

the number divisible by 2 and 5 is
 10
the number divisible by 2 and 5 is
 20
the number divisible by 2 and 5 is
 30
the number divisible by 2 and 5 is
 40
the number divisible by 2 and 5 is
 50
the number divisible by 2 and 5 is
 60
the number divisible by 2 and 5 is
 70
the number divisible by 2 and 5 is
 80
the number divisible by 2 and 5 is
 90
the number divisible by 2 and 5 is
 100

In [12]:
for i in range(1,11): 
    if i==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [16]:
for i in range(1,11): 
    if i==5:
        break

    
    else:
        print(i)

1
2
3
4

In [29]:
sum=0

for i in range(1,51):
    if i %2==0:
        sum=sum+i

print(sum)

650

In [35]:
print("the first 20 numbers are\n")
for i in range(0,21):
    print(i,"the square is ",i**2)

the first 20 numbers are

0 the square is  0
1 the square is  1
2 the square is  4
3 the square is  9
4 the square is  16
5 the square is  25
6 the square is  36
7 the square is  49
8 the square is  64
9 the square is  81
10 the square is  100
11 the square is  121
12 the square is  144
13 the square is  169
14 the square is  196
15 the square is  225
16 the square is  256
17 the square is  289
18 the square is  324
19 the square is  361
20 the square is  400

In [47]:
n=1
sum=0
while n<=10:
    print(n)
    sum=sum+n
    n+=2

print(sum)

1
3
5
7
9
25

In [45]:
n=int(input("enter the range"))
for i in range(1,n+1):
    if i%8==0 and i%12==0:
        print("the number divisible by 8 and 12 is \n",i)

enter the range 100

the number divisible by 8 and 12 is
 24
the number divisible by 8 and 12 is
 48
the number divisible by 8 and 12 is
 72
the number divisible by 8 and 12 is
 96

In [60]:
add_cust=input("do you want add new customer yes/no\n")
while add_cust=="yes":
    add_cust=input("do you want add new customer yes/no\n")
    if add_cust=="no":
        break
    
    customer_name=input("enter the customer name\n")
    customer_number=int(input("enter the contact number\n"))
    total_items=int(input("enter the total number of items\n"))
    sum=0
    i=1
    while total_items>=i:
        name=input("enter the name of the item\n")
        item=int(input("enter the number of item"))
        price=int(input("enter the price of item "))
        sum =sum+price
        i+=1
    print("-------------------------------------------\n")
    
    print("the total bill to be paid by ",customer_name," is ",sum)
    
    print("-------------------------------------------\n")

    print("***********happy shopping**********")

do you want add new customer yes/no
 yes
do you want add new customer yes/no
 yes
enter the customer name
 gdsgsx
enter the contact number
 654654
enter the total number of items
 1
enter the name of the item
 ssdfs
enter the number of item 1
enter the price of item  34354

-------------------------------------------

the total bill to be paid by  gdsgsx  is  34354
-------------------------------------------

KeyboardInterrupt: Interrupted by user

In [62]:
name=input("enter the string\n")
dope=len(name)
print(dope)

enter the string
 sdndjsn

7

In [80]:
name=input("enter the string\n")
dope=len(name)
print(name.count("o"))
a=name.lower()
print(a)
b=name.upper()
print(b)
c=name.title()
print(c)
d=name.find("j")
print(d)

enter the string
 rnfksjzndljdnsljnsdoooo

4
rnfksjzndljdnsljnsdoooo
RNFKSJZNDLJDNSLJNSDOOOO
Rnfksjzndljdnsljnsdoooo
-1

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(5,1):
    for j in range(1,i+1):
        print(j,end="")
    print()