In [40]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="   ")
    print()

1   2   3   4   5   6   7   8   9   10
2   4   6   8   10   12   14   16   18   20
3   6   9   12   15   18   21   24   27   30
4   8   12   16   20   24   28   32   36   40
5   10   15   20   25   30   35   40   45   50
6   12   18   24   30   36   42   48   54   60
7   14   21   28   35   42   49   56   63   70
8   16   24   32   40   48   56   64   72   80
9   18   27   36   45   54   63   72   81   90
10   20   30   40   50   60   70   80   90   100

In [62]:
a="harish kumar is live"
print(a)
print(len(a))
print(a.count("h"))
print(a.lower())
print(a.upper())
print(a.capitalize())
print(a.index("a"))
print(a.center(40,"*"))
print(a.casefold())
print(a.find("r"))

harish kumar is live
20
2
harish kumar is live
HARISH KUMAR IS LIVE
Harish kumar is live
1
**********harish kumar is live**********
harish kumar is live
2

In [73]:
a="alphsa"
num="fnksfj"
b="my name is {}. and my number is{}"
print(b.format(a,num))

my name is alphsa. and my number isfnksfj

In [32]:
a="3kj24nj3jl2n3jlnlj3"
b='anfjkansf'
c="351351"
d="1.26566"
e="HWLLO"
f="     "
print(f,f.isspace())
print(a,a.isalnum())
print(a,a.isalpha())
print(c,c.isdigit())
print(c,c.isnumeric())
print(a,a.islower())
print(e,e.isupper())
print(d,d.istitle())

      True
3kj24nj3jl2n3jlnlj3 True
3kj24nj3jl2n3jlnlj3 False
351351 True
351351 True
3kj24nj3jl2n3jlnlj3 True
HWLLO True
1.26566 False

In [80]:
a="ghishf alpha"
b='anfjkansf'
c="351351"
d="1.26566"
e="HWLLO"

print(b.split("a"))
print(b,b.startswith("a"))
print(b,b.endswith("a"))
print(b,b.strip("a"))
print(b,b.ljust(100,"*"))
print("                                                   ")
print("\n\n\n\n\n\n")
print(b,b.rjust(100,"*"))
print(a.rfind("alpha"))
print(a.rindex("alpha"))

['', 'nfjk', 'nsf']
anfjkansf True
anfjkansf False
anfjkansf nfjkansf
anfjkansf anfjkansf*******************************************************************************************








anfjkansf *******************************************************************************************anfjkansf
7
7

slicing

In [78]:
a="harish kumar is real"
print(a[0:7])

harish

In [86]:
v="53434354534"
print(v[::2])

544554

In [24]:
num=int(input("enter the number "))
for i in range(2,num):
    if num%i==0:
        print("it is not prime")
        break
    else :
        print("it is prime")

enter the number  4

it is not prime

In [8]:
a=input("enter ")
b=sorted(a)
print(b)
e=a.replace("s","")
print(e)
f=a.count("s")
print(f)

enter  dfnsljnlndsndipspsppss[

['[', 'd', 'd', 'd', 'f', 'i', 'j', 'l', 'l', 'n', 'n', 'n', 'n', 'p', 'p', 'p', 'p', 's', 's', 's', 's', 's', 's']
dfnljnlndndipppp[
6

In [10]:
a=input("enter ")
print(a[::-1])

enter  kndkjsngljdnldngjlnsjlgnsg

gsngljsnljgndlndjlgnsjkdnk

In [24]:
a=input("enter ")
b=a.isdigit()
if b==True:
    print("it is digit")

else:
    print("not")

enter  gdsd4

not

In [54]:
a=input("enter")
count=0
for i in a:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
        count=count+1

print(count)

enter FZKJBDKJXBSASAJINI

4

In [40]:
a=input("enter ")
b=a[::-1]
if a==b:
    print("pallin")

else:
    print("not")

enter  slnafslf

not

In [143]:
a=["her","alpha","alop","lap"]
print(a[-4])
print(a.append("hulkss"))
print(a)
print(a.insert(4,"hulkss"))
print(a)
print(a.pop(2))
print(a)
b=a.copy()
print(b)



print(a.index("hulkss"))


b=["knsfknfka","sakfnkfn"]
print(a.extend(b))
print(a)


print(a.reverse())
print(a)

print(a.sort())
print(a)
print(type(a))

her
None
['her', 'alpha', 'alop', 'lap', 'hulkss']
None
['her', 'alpha', 'alop', 'lap', 'hulkss', 'hulkss']
alop
['her', 'alpha', 'lap', 'hulkss', 'hulkss']
['her', 'alpha', 'lap', 'hulkss', 'hulkss']
3
None
['her', 'alpha', 'lap', 'hulkss', 'hulkss', 'knsfknfka', 'sakfnkfn']
None
['sakfnkfn', 'knsfknfka', 'hulkss', 'hulkss', 'lap', 'alpha', 'her']
None
['alpha', 'her', 'hulkss', 'hulkss', 'knsfknfka', 'lap', 'sakfnkfn']
<class 'list'>

In [32]:
a=["ross","rachel","monica","joe"]
a[0],a[1]=a[1],a[0]
print(a)

['rachel', 'ross', 'monica', 'joe']

In [34]:
a=["ross","rachel","monica","joe"]
b=input("enter the elemnt")
c=a.insert(2,b)
print(a)

enter the elemnt hukkk

['ross', 'rachel', 'hukkk', 'monica', 'joe']

In [36]:
a=["ross","rachel","monica","joe"]
c=a.pop(2)
print(a)

['ross', 'rachel', 'joe']

In [64]:
a=[19,4,8,7,5,7]
sum=1
for i in a:
    sum=i*sum

print(sum)

print(a.sort())
print(a)
print(a[-1])
print(a[0])

148960
None
[4, 5, 7, 7, 8, 19]
19
4

In [2]:
o=("tutttu","asjf","lnfsaionfksn")
print(type(o))

<class 'tuple'>

In [18]:
import json
student_data={"name":"david","age":13,"marks":887}
print(type(student_data))
data=json.dumps(student_data)
print(type(data))
print(data)

<class 'dict'>
<class 'str'>
{"name": "david", "age": 13, "marks": 887}

In [16]:
import json
student_data="""{"name":"david","age":13,"marks":887}"""
data=json.loads(student_data)
print(data["age"])

13

In [26]:
import json
student_data={"name":"david","age":13,"marks":887}
data=json.dumps(student_data,indent=4,separators=(",","="))
print(data)

{
    "name"="david",
    "age"=13,
    "marks"=887
}

In [32]:
import json
student_data={"name":"david","age":13,"marks":87}
f=open("demo.json","w")
f.write(data)
data=json.dumps(student_data,indent=4,sort_keys=True)
print("added")

added

In [48]:
stud={"name":"david","age":13,"marks":87}
for x in stud.values():
    print(x)

david
13
87

In [ ]:
stud={"name":"david","age":13,"marks":87}
print(stud["name"])
print(len(stud))
for i in stud:
    print(stud[i])

In [50]:
stud={"name":"david","age":13,"marks":87}
for x,y in stud.items():
    print(x,"-",y)

name - david
age - 13
marks - 87

In [60]:
stud={"name":"david","age":13,"marks":87}
v=stud.get("name")
print(v)
c=stud.items()
print(c)

a=stud.keys()
print(a)

q=stud.values()
print(q)


b=stud.copy()
print(b)

david
dict_items([('name', 'david'), ('age', 13), ('marks', 87)])
dict_keys(['name', 'age', 'marks'])
dict_values(['david', 13, 87])
{'name': 'david', 'age': 13, 'marks': 87}

In [64]:
stud={"name":"david","age":13,"marks":87}
f=stud.setdefault("name","sam")
print(f)

david

In [68]:
employ={1:{"name":"john","age":13},2:{"name":"david","age":13,"marks":87},3:{"name":"did","age":53,"marks":97}}

print(employ[2]["age"])

13

In [77]:
a={"a":45,"g":54,"e":87,"w":98}
b=sorted(a.values())
print(b)

[45, 54, 87, 98]

In [79]:
a={}
for i in range(1,16):
    a[i]=i**2

print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [91]:
a={"a":45,"g":54,"e":87,"w":98}
sum=1
for i in a:
    b=a[i]
    sum=sum*b



print(sum)

20718180

In [93]:
a={"a":45,"g":54,"e":87,"w":98}
b=sorted(a.keys())
print(b)

['a', 'e', 'g', 'w']

In [141]:
b={54,84,848,468,684,84,834,484,684684,684,68}
b.pop()
print(b)

b.remove(848)
print(b)

b.discard(484)
print(b)

b.add(8555)
print(b)

c=b.copy()
print(c)
print(type(c))

{484, 68, 684684, 684, 848, 468, 84, 54}
{484, 68, 684684, 684, 468, 84, 54}
{68, 684684, 684, 468, 84, 54}
{68, 8555, 684684, 684, 468, 84, 54}
{684, 68, 468, 84, 54, 8555, 684684}
<class 'set'>

In [123]:
b={"anme","MKAA","ldasm","kjus","lkissn"}
c={"anme","jhub","kask"}
print(b.isdisjoint(c))
print(b.issubset(c))
print(b.issuperset(c))
print(b.clear())
print(b,"el")

False
False
False
None
set() el

In [133]:
b={54,84,848,468,6,6,6,5,6,56,65,84,84,834,484,684684,684,68}
a={6,59,956,6,6,32,6,65,465,8,484,68,1321,1,41861,186,1686,186}
print(a.union(b))
print(a.difference(b))
print(a.difference_update(b))
g=a.intersection(b)
print(g)

{65, 1, 834, 68, 41861, 6, 5, 8, 684684, 848, 465, 468, 84, 1686, 32, 484, 1321, 684, 54, 56, 186, 59, 956}
{32, 1, 41861, 8, 1321, 465, 1686, 186, 59, 956}
None
set()

In [139]:
a={6,59,956,6,6,32,6,65,465,8,484,68,1321,1,41861,186,1686,186}
print(max(a))
print(min(a))

41861
1

AttributeError: 'set' object has no attribute 'sort'

In [169]:
a=[4,58,86,89,97,62,47]
b=[58,8,89,12]
c=[58,12,89]
ax=set(a)
bx=set(b)
cx=set(c)
print( set(a) & set(b) & set(c))
print(ax.difference(b))
print(ax.discard(4))
print(ax)

{89, 58}
{97, 4, 86, 62, 47}
None
{97, 47, 86, 89, 58, 62}

#Functions

In [180]:
def adddd(x,y):
    print(x+y)

adddd(25,54)

79

In [184]:
def hello():
    print("hehe")
    return hello()

print(hello())

SyntaxError: invalid syntax (917805512.py, line 3)

In [198]:
def fact(n):
    if n==1:
        return 1
    else :
        return(n*fact(n-1))
    print(fact)



fact(5)

120

lambda fun

In [219]:
a= lambda b: b*5
print(a(5))

x=lambda a,b,c,: a+b*c
print(x(78,53,69))

25
3735

In [217]:
def max(x,y,z):
    if x>y:
        if x>z:
            print(x ,"is maximum")
    elif y>x:
        if y>z:
            print(y ,"is maximum")
    elif z>y:
        if z>x:
            print(z ,"is maximum")

max(455,85,75)

455 is maximum

In [231]:
def list_square():
    l=[]
    for i in range(1,31):
        b=i**2
        l.append(b)
    print(l)
    print(type(l))
list_square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
<class 'list'>

In [282]:
def prime(num):
    
    # Negative numbers, 0 and 1 are not primes
    if num > 1:
        
        for i in range(2, (num//2)+1):
            
      
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
           if (num % i) == 0:
               
               
               print(num, "is not a prime number")
               
               break
           else:
               
               
              print(num, "is a prime number")
    else:
         print(num, "is not a prime number")

prime(45)

45 is a prime number
45 is not a prime number

In [292]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Test the function
num = 29
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

29 is a prime number.

In [ ]:
def fib(x):
    if x==1:
        return(0)
    elif x==2:
        return(1)
    else:
        return(fib(x-1)+fib(x-2))

print(fib(7))

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)