In [2]:
import pandas as pd

data={"name":["johnna","slalal","eurooo","lotta"],"age":[45,8,29,12],"salary":[2150,7540,8700,4580]}
df=pd.DataFrame(data)
print(df)

     name  age  salary
0  johnna   45    2150
1  slalal    8    7540
2  eurooo   29    8700
3   lotta   12    4580

In [22]:
import pandas as pd
dt=pd.read_csv("C:/Users/HP/Desktop/pppd.csv")
print(dt)

     name   age  salary
0     jhom   14   45000
1  gukkesk   12     589
2     kona   52   54564
3      ola    6    1215
4     pola    5   11545
5    soloa   21   11515
6     eoro   23   48412
7     wowo   24   26546

In [30]:
da=pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
print(da)

     name   age  salary
0     jhom   14   45000
1  gukkesk   12     589
2     kona   52   54564
3      ola    6    1215
4     pola    5   11545
5    soloa   21   11515
6     eoro   23   48412
7     wowo   24   26546

In [34]:
da=pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
print(da.head(5))
print(da.tail(5))

     name   age  salary
0     jhom   14   45000
1  gukkesk   12     589
2     kona   52   54564
3      ola    6    1215
4     pola    5   11545
   name   age  salary
3    ola    6    1215
4   pola    5   11545
5  soloa   21   11515
6   eoro   23   48412
7   wowo   24   26546

In [48]:
da=pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
print(da.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   age     8 non-null      int64
 2   salary  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes
None

In [46]:
da=pd.read_csv("C:/Users/HP/Desktop/hotel_booking.csv")
print(da.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB
None

In [52]:
da=pd.read_csv("C:/Users/HP/Desktop/hotel_booking.csv")
da.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [54]:
da=pd.read_csv("C:/Users/HP/Desktop/hotel_booking.csv")
print(da.isnull())

        hotel  is_canceled  lead_time  arrival_date_year  arrival_date_month  \
0       False        False      False              False               False
1       False        False      False              False               False
2       False        False      False              False               False
3       False        False      False              False               False
4       False        False      False              False               False
...       ...          ...        ...                ...                 ...
119385  False        False      False              False               False
119386  False        False      False              False               False
119387  False        False      False              False               False
119388  False        False      False              False               False
119389  False        False      False              False               False

        arrival_date_week_number  arrival_date_day_of_month  \
0                          False                      False
1                          False                      False
2                          False                      False
3                          False                      False
4                          False                      False
...                          ...                        ...
119385                     False                      False
119386                     False                      False
119387                     False                      False
119388                     False                      False
119389                     False                      False

        stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                         False                 False   False  ...
1                         False                 False   False  ...
2                         False                 False   False  ...
3                         False                 False   False  ...
4                         False                 False   False  ...
...                         ...                   ...     ...  ...
119385                    False                 False   False  ...
119386                    False                 False   False  ...
119387                    False                 False   False  ...
119388                    False                 False   False  ...
119389                    False                 False   False  ...

        customer_type    adr  required_car_parking_spaces  \
0               False  False                        False
1               False  False                        False
2               False  False                        False
3               False  False                        False
4               False  False                        False
...               ...    ...                          ...
119385          False  False                        False
119386          False  False                        False
119387          False  False                        False
119388          False  False                        False
119389          False  False                        False

        total_of_special_requests  reservation_status  \
0                           False               False
1                           False               False
2                           False               False
3                           False               False
4                           False               False
...                           ...                 ...
119385                      False               False
119386                      False               False
119387                      False               False
119388                      False               False
119389                      False               False

        reservation_status_date   name  email  phone-number  credit_card
0                         False  False  False         False        False
1                         False  False  False         False        False
2                         False  False  False         False        False
3                         False  False  False         False        False
4                         False  False  False         False        False
...                         ...    ...    ...           ...          ...
119385                    False  False  False         False        False
119386                    False  False  False         False        False
119387                    False  False  False         False        False
119388                    False  False  False         False        False
119389                    False  False  False         False        False

[119390 rows x 36 columns]

In [56]:
da=pd.read_csv("C:/Users/HP/Desktop/hotel_booking.csv")
print(da.isnull().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [30]:
import pandas as pd
dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")
print(dt)

print(dt.isnull().sum())
print(dt.dropna())

     name   age   salary
0     jhom   14  45000.0
1  gukkesk   12    589.0
2      ola   52  54564.0
3      ola    6      NaN
4     pola    5  11545.0
5    soloa   21  11515.0
6      ola   23      NaN
7     wowo   24  26546.0
name      0
age       0
salary    2
dtype: int64
     name   age   salary
0     jhom   14  45000.0
1  gukkesk   12    589.0
2      ola   52  54564.0
4     pola    5  11545.0
5    soloa   21  11515.0
7     wowo   24  26546.0

In [38]:
import pandas as pd
dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

import numpy as np
print(dt["salary"].replace(np.nan,12000))

0    45000.0
1      589.0
2    54564.0
3    12000.0
4    11545.0
5    11515.0
6    12000.0
7    26546.0
Name: salary, dtype: float64

In [60]:
import pandas as pd
import numpy as np

# Load the CSV
dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

# Replace NaN values in specific columns
dt = dt.fillna({
    "kisa": "soloa",
    "age": 21,
    "salary": 25960
})

# Print the modified DataFrame
print(dt)

      kisa   age   salary
0     jhom  14.0  45000.0
1  gukkesk  21.0    589.0
2      ola  52.0  54564.0
3    soloa   6.0  25960.0
4     pola   5.0  11545.0
5    soloa  21.0  11515.0
6      ola  21.0  25960.0
7     wowo  24.0  26546.0

In [48]:
import pandas as pd
dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")
print(dt)

      kisa   age   salary
0     jhom  14.0  45000.0
1  gukkesk   NaN    589.0
2      ola  52.0  54564.0
3      NaN   6.0      NaN
4     pola   5.0  11545.0
5      NaN  21.0  11515.0
6      ola   NaN      NaN
7     wowo  24.0  26546.0

In [ ]:
import pandas as pd
dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

import numpy as np
print(dt["kisa"].replace(np.nan,"soloa"))
print(dt["age"].mean())
print(dt["age"].replace(np.nan,21))
print(dt["salary"].mean())
print(dt["salary"].replace(np.nan,25960))

In [64]:
import pandas as pd
import numpy as np

dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

# Replace NaN values in specific columns
print(dt.fillna(method="bfill"))

      kisa   age   salary
0     jhom  14.0  45000.0
1  gukkesk  52.0    589.0
2      ola  52.0  54564.0
3     pola   6.0  11545.0
4     pola   5.0  11545.0
5      ola  21.0  11515.0
6      ola  24.0  26546.0
7     wowo  24.0  26546.0

C:\Users\HP\AppData\Local\Temp\ipykernel_25164\3016372892.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dt.fillna(method="bfill"))

In [66]:
import pandas as pd
import numpy as np

dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

# Replace NaN values in specific columns
print(dt.fillna(method="ffill"))

      kisa   age   salary
0     jhom  14.0  45000.0
1  gukkesk  14.0    589.0
2      ola  52.0  54564.0
3      ola   6.0  54564.0
4     pola   5.0  11545.0
5     pola  21.0  11515.0
6      ola  21.0  11515.0
7     wowo  24.0  26546.0

C:\Users\HP\AppData\Local\Temp\ipykernel_25164\3054663811.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dt.fillna(method="ffill"))

In [122]:
import pandas as pd

# Assuming the file path and CSV data are correct
df= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
print(df)
df.loc[(df["age"] == 0),"kida"] = "no nice"
df.loc[(df["age"] > 4),"kida"] = "htel nice"
print(df)

     name   age  salary
0     jhom   14   45000
1  gukkesk   12     589
2     kona   52   54564
3      ola    6    1215
4     pola    5   11545
5    soloa   21   11515
6     eoro   23   48412
7     wowo   24   26546
     name   age  salary       kida
0     jhom   14   45000  htel nice
1  gukkesk   12     589  htel nice
2     kona   52   54564  htel nice
3      ola    6    1215  htel nice
4     pola    5   11545  htel nice
5    soloa   21   11515  htel nice
6     eoro   23   48412  htel nice
7     wowo   24   26546  htel nice

In [132]:
import pandas as pd
df= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
df["full name"]=df["kisa"].str.capitalize()+"  "+df["tisa"]
print(df)

      kisa  age  salary     tisa      full name
0     jhom   14   45000     lspa     Jhom  lspa
1  gukkesk   12     589     kifs  Gukkesk  kifs
2     kona   52   54564     lida     Kona  lida
3      ola    6    1215    lofra     Ola  lofra
4     pola    5   11545     ohka     Pola  ohka
5    soloa   21   11515     eoka    Soloa  eoka
6     eoro   23   48412      loa      Eoro  loa
7     wowo   24   26546  olaaalp  Wowo  olaaalp

In [136]:
import pandas as pd
df= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
df["full salary"]=(df["salary"]/10)
print(df)

      kisa  age  salary     tisa  full salary
0     jhom   14   45000     lspa       4500.0
1  gukkesk   12     589     kifs         58.9
2     kona   52   54564     lida       5456.4
3      ola    6    1215    lofra        121.5
4     pola    5   11545     ohka       1154.5
5    soloa   21   11515     eoka       1151.5
6     eoro   23   48412      loa       4841.2
7     wowo   24   26546  olaaalp       2654.6

In [20]:
import pandas as pd
da= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")
dt=da.groupby(["kisa"]).agg({"salary":"mean"})
print(dt)

               salary
kisa
gukkesk    589.000000
jhom     45000.000000
kona     54564.000000
ola      20390.666667
soloa    11515.000000
wowo     26546.000000

In [38]:
import pandas as pd 
import numpy as np
da= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")


dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")
dc=pd.merge(da,dt,on="kisa")
print(dc)

#left right parameterrs for merging ?

      kisa  age_x  salary_x     tisa  age_y  salary_y
0     jhom     14     45000     lspa   14.0   45000.0
1  gukkesk     12       589     kifs    NaN     589.0
2      ola      6      1215    lofra   52.0   54564.0
3      ola      6      1215    lofra    NaN       NaN
4      ola      5     11545     ohka   52.0   54564.0
5      ola      5     11545     ohka    NaN       NaN
6      ola     23     48412      loa   52.0   54564.0
7      ola     23     48412      loa    NaN       NaN
8     wowo     24     26546  olaaalp   24.0   26546.0

In [40]:
import pandas as pd 
import numpy as np
da= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")


dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")
dc=pd.merge(da,dt,on="kisa",how="right")
print(dc)

       kisa  age_x  salary_x     tisa  age_y  salary_y
0      jhom   14.0   45000.0     lspa   14.0   45000.0
1   gukkesk   12.0     589.0     kifs    NaN     589.0
2       ola    6.0    1215.0    lofra   52.0   54564.0
3       ola    5.0   11545.0     ohka   52.0   54564.0
4       ola   23.0   48412.0      loa   52.0   54564.0
5       NaN    NaN       NaN      NaN    6.0       NaN
6      pola    NaN       NaN      NaN    5.0   11545.0
7       NaN    NaN       NaN      NaN   21.0   11515.0
8       ola    6.0    1215.0    lofra    NaN       NaN
9       ola    5.0   11545.0     ohka    NaN       NaN
10      ola   23.0   48412.0      loa    NaN       NaN
11     wowo   24.0   26546.0  olaaalp   24.0   26546.0

In [46]:
import pandas as pd 
import numpy as np
da= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")


dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")
dc=pd.merge(da,dt,on="age",how="left")
print(dc)

    kisa_x  age  salary_x     tisa kisa_y  salary_y
0     jhom   14     45000     lspa   jhom   45000.0
1  gukkesk   12       589     kifs    NaN       NaN
2     kona   52     54564     lida    ola   54564.0
3      ola    6      1215    lofra    NaN       NaN
4      ola    5     11545     ohka   pola   11545.0
5    soloa   21     11515     eoka    NaN   11515.0
6      ola   23     48412      loa    NaN       NaN
7     wowo   24     26546  olaaalp   wowo   26546.0

In [58]:
import pandas as pd 
import numpy as np
da= pd.read_excel("C:/Users/HP/Desktop/pppd.xlsx")


dt = pd.read_csv("C:/Users/HP/Desktop/ghiii.csv")

SyntaxError: invalid syntax (694616774.py, line 8)

In [75]:
import pandas as pd
dict={"fruits":["mango","apples","bannana","papaya"],"price":[100,158,457,458],"quantity":[45,58,23,56]}
tr=pd.DataFrame(dict)
print(tr)

tr2=tr.copy()
tr2.loc[0,"price"]=548
tr2.loc[1,"price"]=52
tr2.loc[2,"price"]=568
tr2.loc[3,"price"]=58
tr2.loc[0,"quantity"]=75
tr2.loc[1,"quantity"]=123
tr2.loc[2,"quantity"]=549
tr2.loc[3,"quantity"]=741
print(tr2)
  

print(tr.compare(tr2,keep_equal=True))

print(tr.compare(tr2,keep_shape=True))

    fruits  price  quantity
0    mango    100        45
1   apples    158        58
2  bannana    457        23
3   papaya    458        56
    fruits  price  quantity
0    mango    548        75
1   apples     52       123
2  bannana    568       549
3   papaya     58       741
  price       quantity
   self other     self other
0   100   548       45    75
1   158    52       58   123
2   457   568       23   549
3   458    58       56   741
  fruits       price       quantity
    self other  self other     self other
0    NaN   NaN   100   548       45    75
1    NaN   NaN   158    52       58   123
2    NaN   NaN   457   568       23   549
3    NaN   NaN   458    58       56   741

In [85]:
import pandas as pd

dict={"keys":["k1","k2","k3","k4"],"name":["john","mood","nota","lota"],"houses":["red","green","blue","yellow"],"grades":["3rd","4th","5th","6th"]}
dt=pd.DataFrame(dict)
print(dt)
#melting?
print(dt.pivot(index="keys",columns="name",values=["houses","grades"]))

  keys  name  houses grades
0   k1  john     red    3rd
1   k2  mood   green    4th
2   k3  nota    blue    5th
3   k4  lota  yellow    6th
     houses                      grades
name   john    lota   mood  nota   john lota mood nota
keys
k1      red     NaN    NaN   NaN    3rd  NaN  NaN  NaN
k2      NaN     NaN  green   NaN    NaN  NaN  4th  NaN
k3      NaN     NaN    NaN  blue    NaN  NaN  NaN  5th
k4      NaN  yellow    NaN   NaN    NaN  6th  NaN  NaN